# autotools cruft
/INSTALL
/Makefile.in
/aclocal.m4
/autom4te.cache/
/autostuff/
/configure
/configure.lineno

# Editor/IDE cruft
*.kate-swp
*~
/*.kdev4
/Makefile.am.user

# Configure/build cruft
*.asm
*.bin
*.cdb
*.d
*.elf
*.fw
*.ihx
*.lib
*.lk
*.lnk
*.lst
*.map
*.mem
*.o
*.omf
*.rel
*.rst
*.sym
.dirstamp
/Makefile
/config.*
/sigrok-firmware-fx2lafw-*.tar.*
stamp-h?
